In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('raw_datas/Censo 2022 - Território - mescla.csv', sep=";")

# Exploração dos dados

In [8]:
# checando as primeiras linhas
df.head()

   ano_da_pesquisa   area(km2)  densidade_demografica(hab/km2)        UF
0             2022   164173.43                            5.06      Acre
1             2022    27830.66                          112.38   Alagoas
2             2022   142470.76                            5.15     Amapá
3             2022  1559255.88                            2.53  Amazonas
4             2022   564760.43                           25.04     Bahia

In [9]:
"""
    Utilizei o excel para tratar os dados e fazer limpeza, então não farei uma
    limpeza aprofundada pois aparentemente não há necessidade
"""

'\n    Utilizei o excel para tratar os dados e fazer limpeza, então não farei uma\n    limpeza aprofundada pois aparentemente não há necessidade\n'

In [12]:
# verificando se há valores nulos
df.isnull().sum()

ano_da_pesquisa                   0
area(km2)                         0
densidade_demografica(hab/km2)    0
UF                                0
dtype: int64

In [14]:
# Já consegui alguns dados que é preciso sobre a densidade_demográfica
df.describe()

       ano_da_pesquisa     area(km2)  densidade_demografica(hab/km2)
count             27.0  2.700000e+01                       27.000000
mean            2022.0  3.152007e+05                       72.278889
std                0.0  3.751304e+05                      112.598245
min             2022.0  5.760780e+03                        2.530000
25%             2022.0  7.609896e+04                        6.585000
50%             2022.0  2.236445e+05                       35.020000
75%             2022.0  3.349472e+05                       81.355000
max             2022.0  1.559256e+06                      489.060000

In [79]:
# checar o território mais denso e menos denso
uf_denso = max(df['densidade_demografica(hab/km2)'])
uf_menos_denso = min(df['densidade_demografica(hab/km2)'])

# achando os valores mais e menos populoso
linha_mais, coluna = (df == uf_denso).stack().idxmax()
linha_menos, coluna = (df == uf_menos_denso).stack().idxmax()

mais_denso = df.loc[linha_mais]
menos_denso = df.loc[linha_menos]

print(f'MAIS DENSO\n\n{mais_denso} \n\n')
print(f'MENOS DENSO\n\n{menos_denso}')

MAIS DENSO

ano_da_pesquisa                               2022
area(km2)                                  5760.78
densidade_demografica(hab/km2)              489.06
UF                                Distrito Federal
Name: 6, dtype: object


MENOS DENSO

ano_da_pesquisa                         2022
area(km2)                         1559255.88
densidade_demografica(hab/km2)          2.53
UF                                  Amazonas
Name: 3, dtype: object