# FERRAMENTAS

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("raw_datas/Censo 2022 - Crescimento Populacional - mescla.csv", sep=";")

# EXPLORAÇÃO DOS DADOS

In [3]:
# verificando as primeiras linhas do data fame
df.head()

   ano_da_pesquisa  populacao(pessoas)    UF
0             1872                 NaN  Acre
1             1890                 NaN  Acre
2             1900                 NaN  Acre
3             1920             92379.0  Acre
4             1940             79768.0  Acre

In [4]:
# verificando os tipos do dataframe
df.dtypes

ano_da_pesquisa         int64
populacao(pessoas)    float64
UF                     object
dtype: object

In [5]:
# verificando se há valores nulos
df.isnull().sum()

ano_da_pesquisa        0
populacao(pessoas)    32
UF                     0
dtype: int64

In [6]:
"""
    Alguns anos não possui valor de população,
    ou seja, não teve censo. Com isso, estes valores irei configurá-los para 0
"""
df['populacao(pessoas)'] = df['populacao(pessoas)'].fillna(0)

In [7]:
# verificando se foi alterado
df.isnull().sum()

ano_da_pesquisa       0
populacao(pessoas)    0
UF                    0
dtype: int64

In [8]:
df.describe()

       ano_da_pesquisa  populacao(pessoas)
count       351.000000        3.510000e+02
mean       1954.230769        3.312813e+06
std          45.904880        5.499379e+06
min        1872.000000        0.000000e+00
25%        1920.000000        3.295480e+05
50%        1960.000000        1.383445e+06
75%        1991.000000        3.635324e+06
max        2022.000000        4.441124e+07

In [9]:
# verificando se há algum dado duplicado
df.duplicated().sum()

np.int64(0)

In [10]:
df

     ano_da_pesquisa  populacao(pessoas)         UF
0               1872                 0.0       Acre
1               1890                 0.0       Acre
2               1900                 0.0       Acre
3               1920             92379.0       Acre
4               1940             79768.0       Acre
..               ...                 ...        ...
346             1980            738688.0  Tocantins
347             1991            920116.0  Tocantins
348             2000           1157690.0  Tocantins
349             2010           1383445.0  Tocantins
350             2022           1511460.0  Tocantins

[351 rows x 3 columns]

In [22]:
# calcular crescimento populacional
soma_dados = df.groupby('ano_da_pesquisa')['populacao(pessoas)'].sum().reset_index()

# pct_change o calculo de crescimento
# ex.: x - y = z -> z / x = proporção de crescimento.
soma_dados['crescimento populacional'] = soma_dados['populacao(pessoas)'].pct_change() * 100
soma_dados

    ano_da_pesquisa  populacao(pessoas)  crescimento populacional
0              1872           9930478.0                       NaN
1              1890          14333915.0                 44.342649
2              1900          17438434.0                 21.658556
3              1920          30635605.0                 75.678648
4              1940          41236315.0                 34.602581
5              1950          51944397.0                 25.967602
6              1960          70992343.0                 36.669876
7              1970          94508583.0                 33.125037
8              1980         121150573.0                 28.190022
9              1991         146917459.0                 21.268481
10             2000         169872859.0                 15.624692
11             2010         190755799.0                 12.293276
12             2022         203080756.0                  6.461118