# FERRAMENTAS

In [86]:
import pandas as pd

In [3]:
df = pd.read_csv("raw_datas/Censo 2022 - Crescimento Populacional - mescla.csv", sep=";")

# EXPLORAÇÃO DOS DADOS

In [4]:
# verificando as primeiras linhas do data fame
df.head()

   ano_da_pesquisa  populacao(pessoas)    UF
0             1872                 NaN  Acre
1             1890                 NaN  Acre
2             1900                 NaN  Acre
3             1920             92379.0  Acre
4             1940             79768.0  Acre

In [5]:
# verificando os tipos do dataframe
df.dtypes

ano_da_pesquisa         int64
populacao(pessoas)    float64
UF                     object
dtype: object

In [6]:
# verificando se há valores nulos
df.isnull().sum()

ano_da_pesquisa        0
populacao(pessoas)    32
UF                     0
dtype: int64

In [7]:
"""
    Alguns anos não possui valor de população,
    ou seja, não teve censo. Com isso, estes valores irei configurá-los para 0
"""
df['populacao(pessoas)'] = df['populacao(pessoas)'].fillna(0)

In [8]:
# verificando se foi alterado
df.isnull().sum()

ano_da_pesquisa       0
populacao(pessoas)    0
UF                    0
dtype: int64

In [9]:
df.describe()

       ano_da_pesquisa  populacao(pessoas)
count       351.000000        3.510000e+02
mean       1954.230769        3.312813e+06
std          45.904880        5.499379e+06
min        1872.000000        0.000000e+00
25%        1920.000000        3.295480e+05
50%        1960.000000        1.383445e+06
75%        1991.000000        3.635324e+06
max        2022.000000        4.441124e+07

In [10]:
# verificando se há algum dado duplicado
df.duplicated().sum()

np.int64(0)